html body {
  margin: 0;
  font-family: 'Roboto';
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
}